<h1>Welcome</h1>

<% if !@current_worker %>
  <p>Please login to log time</p>
<% else %>
  <p class="home-margin">"Punch IN" to start work:</p>
  <div class="home-margin">
    <div class="total-time">
      Total time logged in: <%= @current_worker.pretty_time %>
    </div>
    <span id="punch-in" onclick="punchIN()">
      Punch IN
    </span>
    <span id="punch-out" onclick="punchOUT()" data-id="<%= @current_worker.id %>">
      Punch OUT
    </span>
  </div>
<% end %>


<script type="text/javascript">
  var startTime = new Date();

  function punchIN() {
    startTime = new Date();
    document.getElementById('punch-in').style.display = "none";
    document.getElementById('punch-out').style.display = "inline";
  }

  function punchOUT() {
    var stopTime = new Date();
    var diff = stopTime - startTime;
    var worker_id = document.getElementById('punch-out').getAttribute('data-id');

    var url = '/workers/' + worker_id + '/punch_out?time=' + diff
    window.location.assign( url);
  }

</script>
